body{
    background: linear-gradient(75deg, #b92982, #8e44ad);
  }
  .about{
    text-align: center;
  }
  .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 430px;
    width: 350px;
    text-align: center;
    border-radius: 5px;
  }
  .front-face, .back-face{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #d8dee8;
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    transition: transform .4s linear;
  }
  .cover{
    background: #558be6;
    height: 115px;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .profile{
    height: 115px;
    width: 115px;
    border-radius: 50%;
    padding: 5px;
    background: white;
    margin-top: 40px;
  }
  .name{
    font-size: 30px;
    padding-top: 75px;
  }
  .tag{
    padding: 5px 0;
  }
  .about{
    margin-top: 10px;
    padding: 0px 35px;
    font-size: 15px;
  }
  h1{
    color: #0d0d0d;
  }
  p{
    padding: 20px;
    color: #262626;
    text-align: justify;
  }
  i{
    font-size: 20px;
    padding-left: 10px;
    cursor: pointer;
  }
  i:hover {
    font-size: 25px;
  }
  
  .back-face{
    transform: perspective(800px) rotateY(-180deg);
  }
  .front-face{
    transform: perspective(800px) rotateY(0deg);
  }
  .container:hover > .back-face{
    transform: perspective(800px) rotateY(0deg);
  }
  .container:hover > .front-face{
    transform: perspective(800px) rotateY(180deg);
  }
  